body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    border: 0;
}


/* NAV BAR */

nav {
    width: 100%;
    height: 0.8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 19px;

}

.logo {
    width: 7.5%;
    height: 24px;
}

#btn-menu {
    display: none;
}

/*Icono menu*/

.show-icon-menu {
    display: block;
    width: 18px;
    height: 12px;
}

/* Close Icon Menu*/
.hide-icon-menu {
    display: none;
    width: 14px;
    height: 14px;
}

.close-icon-container {
    display: block;
    width: 100%;
    height: 100%;
}

.close-icon {
    display: block;
    height: 14px;
    width: 14px;
}

#btn-menu:checked ~ .hide-icon-menu{
    display: block;
}

#btn-menu:checked ~ .show-icon-menu{
    display: none;
}


/*Menu */
.menu-container {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 44px;
    background-color: #0000EC;
    padding-top: 16px;
    padding-left: 16px;
    margin-left: -16px;
}
.menu-icon-line.last {
    margin: 0px;
}

.menu-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu-container li a {
    font-family: 'IBM Plex mono', monospace;
    display: block;
    text-decoration: none;
    margin-bottom: 24px;
    color: #FFFFFF ;
    cursor: pointer;
}
.menu-container ul:last-child {
    margin-left: 0px;
}

#btn-menu:checked ~ .menu-container{
    display: block;
}


/* HEADER */

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 29px;
    padding-bottom: 24px;
}

.titulos {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.titulos h1 {
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #060A24 ;
}

.titulos p {
    margin: 0;
    padding: 0;
    display: inline;
}

.linetrought-text {
    text-decoration: line-through;
}

.description {
    padding-top: 16px;
    padding-bottom: 36px;
    width: 100%;
}

.description h2 {
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    color: #060A24 ;
}

.desktop-subtitle {
    display: none;
}

.conoce-mas-button {
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
}

.link-button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 96px;
    padding-right: 96px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    color: #060A24;
    font-weight: bolder;
    align-self: center;
    justify-content: center;
}

.conoce-mas-button a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}
/* Fin de HEADER */

/* SECTION EPISODIOS */

.episodios {
    -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%); 
    width: 100%;
    padding-bottom: 143.5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.episodios h3 {
    margin-top: 64px;
    margin-bottom: 21px;
    margin-left: 5%;
    font-family: 'IBM Plex Sans',sans-serif;
    color: #FFFFFF ;
    font-size: 36px;
    font-weight: normal;
}

.spotify-podcast-container {
    margin-left: 3.4%;
    margin-right: 3.4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.podcast-item {
    margin-bottom: 11px;
    width: 100%;
    max-width: 584px;
}

.podcast-item iframe {
    width: 100%;
    border: 0;
    height: 232px;
}
/* Fin de SECTION EPISODIOS */


/* SECTION NOSOTROS */
.nosotros {
    box-sizing: border-box;
}

.phone {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    max-width: 457px;
    bottom: 110px;
    margin-bottom: -110px;
    position: relative;
    justify-self: center;

}

.section-title {
    color: #060A24;
    font-size: 36px;
    line-height: 42px;
    font-family: 'IBM Plex Sans',sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8px;
    font-weight: normal;
}

.nosotros h3 {
    margin-top: 27px;
}

.nosotros p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    line-height: 22px;
    color: #060A24;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
}
/* Fin SECTION NOSOTROS */

/* SECTION ENTREVISTAS  */

.entrevistas {
    box-sizing: border-box;
}

.entrevistas h3 {
    margin-bottom: 14px;
    margin-top: 54px;
}

.imagenes-entrevistas {
    width: 100%;
}

.imagenes-entrevistas img {
    display: block;
    width: 100%;
}
/* Fin SECTION ENTREVISTAS */


/* SECTION TOPICOS */

.topicos {
    box-sizing: border-box;
    width: 100%;
}

.topicos h3 {
    margin-top: 48px;
    margin-bottom: 37px;
}

.temas-container h4 {
    font-family: 'IBM Plex Sans',sans-serif;
    font-size: 24px;
    font-weight: bolder;
    line-height: 32px;
    margin: 0;
    margin-top: 13px;
    text-align: center;

}

.temas-container {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.tema-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 49px;
}

.imagen-topico img {
    display: block;
    width: 100%;
}

/* Fin SECTION TOPICOS */


/* SECTION ULTIMAS NOVEDADES */

.ultimas-novedades {
    -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%); 
    width: 100%;
    box-sizing: border-box; 
    padding-top: 64px;
    padding-bottom: 67px;
    padding-left: 5%;
    padding-right: 5%;
}

.section-title-white {
    font-family: 'IBM Plex Sans',sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 36px;
    font-weight: normal;
}

.escucha-episodios-button {
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
}

.escucha-episodios-button a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
    padding-bottom: 13px;
    padding-top: 13px;
    line-height: 22px;
    text-decoration: none;
    text-align: center;
    color: #060A24;
    font-weight: bolder;
    align-self: center;
    justify-content: center;
}

.escucha-episodios-button a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}
/*Fin SECTION ULTIMAS NOVEDADES */

/* FOOTER */

footer {
    width: 100%;
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 31px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

footer p {
    margin: 0;
    color: #060A24;
    font-family: 'IBM Plex Mono',monospace;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
    text-align: center;
}

.rrss-container {
    display: flex;
    width: 227px;
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-self: center;
    margin: 0;
}

footer a {
    display: inline-block;
    width: 16px;
    color: #060A24;
}

footer i {
    font-size: 16px;
}

/* Fin FOOTER */


/* MEDIA QUERIES */

/* desktop small */
@media screen and (min-width: 860px) {
    /* NAV BAR */
    nav {
        height: 57px;
        display: flex;
        justify-items: space-between;
    }

    .nav-container {
        height: 57px;
        padding-left: 6.9%;
        padding-right: 6.9%;
    }

    .logo {
        width: 25.6px;
        height: 25.6px;
    }

    .logo-imagen {
        width: 100%;
    }

    .show-icon-menu {
        display: none;
    }

    .menu-container {
        display: block;
        position: static;
        box-sizing: border-box;
        background-color: transparent;
        padding-top: 0;
        padding-left: 0;
        margin-left: 0;
        width: fit-content;
    }

    .menu-container ul {
        flex-direction: row;
    }

    .menu-container ul a {
        color: #060A24;
        margin-left: 40px;
        margin-bottom: 0;
        font-size: 11.5px;
    }

    .menu-container ul a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    .menu-container ul a:active {
        color: #060A248F;
    }


    header {
        padding-left: 13.9%;
        padding-top: 100px;
        padding-bottom: 5px;
    }

    .titulos h1 {
        font-size: 45.5px;
        line-height: 59.73px;
    }

    .titulos br{
        display: none;
    }

    .pale {
        margin-left: 14px;
    }

    .bluedot {
        color: #0000EC;
    }

    .description {
        padding-top: 0;
    }

    .mobile-subtitle {
        display: none;
    }

    .desktop-subtitle {
        display: block;
    }

    .description h2 {
        font-size: 12px;
        width: 50%;
    }

    .description span {
        display: inline;
    }

    .conoce-mas-button {
        width: 160px;
    }

    .conoce-mas-button a {
        font-size: 12px;
        line-height: 16px;
        width: 100%;
        box-sizing: border-box;
        background-color: #00F3BB;
        padding-bottom: 11px;
        padding-top: 11px;
        padding-left: 4.1%;
        padding-right: 4.1%;
    }

    .episodios {
        -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
        clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
        padding-bottom: 115px;
    }

    .episodios h3 {
        margin-top: 133px;
        margin-bottom: 21px;
        margin-left: 13.9%;
        font-size: 36px;
    }

    .spotify-podcast-container {
        margin-left: 6.9%;
        margin-right: 6.9%;
        justify-content: space-between;
    }

    .podcast-item {
        width: 46%;
        height: 165x;
        margin-bottom: 51.2px;
        display: inline-block;
    }

    .nosotros {
        display: flex;
    }


    .phone {
        margin-left: 13.9%;
        width: 31.8%;
    }

    .container-nosotros-text {
        width: 32.2%;
        margin-left: 44.2px;
        
    }

    .container-nosotros-text h3 {
        margin-bottom: 17px;
    }

    .container-nosotros-text p {
        font-size: 12px;
    }

    .entrevistas h3 {
        margin-top: 45.3px;
        margin-bottom: 25.5px;
        margin-left: 13.9%;
    }

    .section-title {
        font-size: 34px;
    }

    .imagenes-entrevistas {
        display: flex;
        flex-wrap: wrap;

    }

    .imagenes-entrevistas img {
        width: 33.3%;
    }

    .topicos h3 {
        margin-top: 45.33px;
        margin-bottom: 39.66px;
        margin-left: 13.9%;
    }

    .temas-container {
        flex-direction: row;
        margin-left: 13.9%;
        padding: 0;
    }

    .tema-item {
        width: 185px;
    }

    .tema-item h4 {
        font-size: 17px;
    }

    .tema-item img {
        width: 74px;
        align-self: center;
    }

    .ultimas-novedades {
        -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
        padding-top: 150.8px;
        padding-bottom: 107px;
    }

    .ultimas-novedades h3 {
        font-size: 34px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .escucha-episodios-button {
        width: 245px;
        margin-left: 38%;
    }

    .escucha-episodios-button a {
        font-size: 13px;
        display: block;
        padding-bottom: 13px;
        padding-top: 13px;
        line-height: 22px;
    }

    

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Large desktop */
@media screen and (min-width: 1400px) {
    nav {
        height: 80px;
    }

    .nav-container {
        height: 80px;
    }

    .logo {
        width: 36px;
        height: 36px;
    }

    .show-icon-menu {
        display: none;
    }

    .menu-container ul a {
        margin-left: 48px;
        font-size: 16px;
        line-height: 28px;
    }

    header {
        padding-top: 120px;
        padding-bottom: 5px;
    }

    .titulos h1 {
        font-size: 64px;
        line-height: 84px;
    }

    .pale {
        margin-left: 17px;
    }

    .description h2 {
        font-size: 16px;
        line-height: 24px;
        width: 628px;
    }

    .conoce-mas-button {
        width: 226px;
    }

    .conoce-mas-button a {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .episodios {
        -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
        clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
        padding-bottom: 232.6px;
    }

    .phone {
        bottom: 200px;
    }

    .episodios h3 {
        margin-top: 186px;
        margin-bottom: 26px;
        margin-left: 13.9%;
        font-size: 48px;
        line-height: 62px;
    }

    .spotify-podcast-container {
        justify-content: space-around;
    }

    .podcast-item {
        width: 584px;
        height: 232px;
        margin-bottom: 72px;
    }

    .container-nosotros-text {
        margin-left: 62.4px;
    }

    .container-nosotros-text h3 {
        margin-bottom: 24px;
    }

    .container-nosotros-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .entrevistas h3 {
        margin-top: 45.3px;
        margin-bottom: 25.5px;
        margin-left: 13.9%;
    }

    .section-title {
        font-size: 48px;
        line-height: 62px;
    }

    .topicos h3 {
        margin-top: 64px;
        margin-bottom: 69px;
        margin-left: 13.9%;
    }

    .tema-item {
        width: 260px;
    }

    .tema-item h4 {
        font-size: 24px;
        line-height: 32px;
    }

    .tema-item img {
        width: 104px;
    }

    .ultimas-novedades {
        -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
        padding-bottom: 107px;
    }

    .ultimas-novedades h3 {
        font-size: 48px;
        line-height: 62px;
    }

    .escucha-episodios-button {
        width: 24%;
    }

    .escucha-episodios-button a {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 16px;
        padding-top: 16px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
