body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
}


/* NAV BAR */

nav {
    width: 100%;
    height: 0.8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-container {
    box-sizing: border-box;
    width: 100%;
    height: 2.75rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1.1875rem;

}

.logo {
    width: 7.5%;
    height: 1.5rem;
}

#btn-menu {
    display: none;
}

/*Icono menu*/

.show-icon-menu {
    display: block;
    width: 1.125rem;
    height: 0.75rem;
}

/* Close Icon Menu*/
.hide-icon-menu {
    display: none;
    width: 0.875rem;
    height: 0.875rem;
}

.close-icon-container {
    display: block;
    width: 100%;
    height: 100%;
}

.close-icon {
    display: block;
    height: 0.875rem;
    width: 0.875rem;
}

#btn-menu:checked ~ .hide-icon-menu{
    display: block;
}

#btn-menu:checked ~ .show-icon-menu{
    display: none;
}


/*Menu */
.menu-container {
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 2.75rem;
    background-color: #0000EC;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-left: -1rem;
}
.menu-icon-line.last {
    margin: 0;
}

.menu-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.menu-container li a {
    font-family: 'IBM Plex mono', monospace;
    display: block;
    text-decoration: none;
    margin-bottom: 1.5rem;
    color: #FFFFFF ;
    cursor: pointer;
}
.menu-container ul:last-child {
    margin-left: 0;
}

#btn-menu:checked ~ .menu-container{
    display: block;
}


/* HEADER */

header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.8125rem;
    padding-bottom: 1.5rem;
}

.titulos {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.titulos h1 {
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #060A24 ;
}

.titulos p {
    margin: 0;
    padding: 0;
    display: inline;
}

.linetrought-text {
    text-decoration: line-through;
}

.description {
    padding-top: 1rem;
    padding-bottom: 2.25rem;
    width: 100%;
}

.description h2 {
    font-weight: normal;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0;
    padding: 0;
    color: #060A24 ;
}

.desktop-subtitle {
    display: none;
}

.conoce-mas-button {
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
}

.link-button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
    padding-bottom: 0.8125rem;
    padding-top: 0.8125rem;
    padding-left: 6rem;
    padding-right: 6rem;
    line-height: 1.375rem;
    text-decoration: none;
    text-align: center;
    color: #060A24;
    font-weight: bolder;
    align-self: center;
    justify-content: center;
}

.conoce-mas-button a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}
/* Fin de HEADER */

/* SECTION EPISODIOS */

.episodios {
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%); 
    width: 100%;
    padding-bottom: 8.96875rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.episodios h3 {
    margin-top: 4rem;
    margin-bottom: 1.3125rem;
    margin-left: 5%;
    font-family: 'IBM Plex Sans',sans-serif;
    color: #FFFFFF ;
    font-size: 2.25rem;
    font-weight: normal;
}

.spotify-podcast-container {
    margin-left: 3.4%;
    margin-right: 3.4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.podcast-item {
    margin-bottom: 0.6875rem;
    width: 100%;
    max-width: 36.5rem;
}

.podcast-item iframe {
    width: 100%;
    border: 0;
    height: 14.5rem;
}
/* Fin de SECTION EPISODIOS */


/* SECTION NOSOTROS */
.nosotros {
    box-sizing: border-box;
}

.phone {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    max-width: 28.5625rem;
    bottom: 6.875rem;
    margin-bottom: -6.875rem;
    position: relative;
    justify-self: center;

}

.section-title {
    color: #060A24;
    font-size: 2.25rem;
    line-height: 2.625rem;
    font-family: 'IBM Plex Sans',sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.nosotros h3 {
    margin-top: 1.6875rem;
}

.nosotros p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #060A24;
    font-weight: normal;
    margin-top: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
}
/* Fin SECTION NOSOTROS */

/* SECTION ENTREVISTAS  */

.entrevistas {
    box-sizing: border-box;
}

.entrevistas h3 {
    margin-bottom: 1.14286rem;
    margin-top: 0;
    padding-top: 3.375rem;
}

.imagenes-entrevistas {
    width: 100%;
}

.imagenes-entrevistas img {
    display: block;
    width: 100%;
}
/* Fin SECTION ENTREVISTAS */


/* SECTION TOPICOS */

.topicos {
    box-sizing: border-box;
    width: 100%;
}

.topicos h3 {
    padding-top: 3rem;
    margin-bottom: 2.3125rem;
    margin-top: 0;
}

.temas-container h4 {
    font-family: 'IBM Plex Sans',sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 2rem;
    margin: 0;
    margin-top: 0.8125rem;
    text-align: center;

}

.temas-container {
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.tema-item {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 3.0625rem;
}

.imagen-topico img {
    display: block;
    width: 100%;
}

/* Fin SECTION TOPICOS */


/* SECTION ULTIMAS NOVEDADES */

.ultimas-novedades {
    clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%); 
    width: 100%;
    box-sizing: border-box; 
    padding-top: 4rem;
    padding-bottom: 4.1875rem;
    padding-left: 5%;
    padding-right: 5%;
}

.section-title-white {
    font-family: 'IBM Plex Sans',sans-serif;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 2.25rem;
    font-weight: normal;
}

.escucha-episodios-button {
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
}

.escucha-episodios-button a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #00F3BB;
    padding-bottom: 0.8125rem;
    padding-top: 0.8125rem;
    line-height: 1.375rem;
    text-decoration: none;
    text-align: center;
    color: #060A24;
    font-weight: bolder;
    align-self: center;
    justify-content: center;
}

.escucha-episodios-button a:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}
/*Fin SECTION ULTIMAS NOVEDADES */

/* FOOTER */

footer {
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.5rem;
    padding-bottom: 1.9375rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

footer p {
    margin: 0;
    color: #060A24;
    font-family: 'IBM Plex Mono',monospace;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 1rem;
    text-align: center;
}

.rrss-container {
    display: flex;
    width: 14.1875rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    justify-self: center;
    margin: 0;
}

footer a {
    display: inline-block;
    width: 1rem;
    color: #060A24;
}

footer i {
    font-size: 1rem;
}

/* Fin FOOTER */


/* MEDIA QUERIES */

/* desktop small */
@media screen and (min-width: 860px) {
    /* NAV BAR */
    nav {
        height: 3.5625rem;
        display: flex;
        justify-content: space-between;
    }

    .nav-container {
        height: 3.5625rem;
        padding-left: 6.9%;
        padding-right: 6.9%;
    }

    .logo {
        width: 1.6rem;
        height: 1.6rem;
    }

    .logo-imagen {
        width: 100%;
    }

    .show-icon-menu {
        display: none;
    }

    .menu-container {
        display: block;
        position: static;
        box-sizing: border-box;
        background-color: transparent;
        padding-top: 0;
        padding-left: 0;
        margin-left: 0;
        width: fit-content;
    }

    .menu-container ul {
        flex-direction: row;
    }

    .menu-container ul a {
        color: #060A24;
        margin-left: 2.5rem;
        margin-bottom: 0;
        font-size: 0.71875rem;
    }

    .menu-container ul a:hover {
        color: #00F3BB;
        text-decoration: line-through;
    }

    .menu-container ul a:active {
        color: #060A248F;
    }


    header {
        padding-left: 13.9%;
        padding-top: 6.25rem;
        padding-bottom: 0.3125rem;
    }

    .titulos h1 {
        font-size: 2.84375rem;
        line-height: 3.733125rem;
    }

    .titulos br{
        display: none;
    }

    .pale {
        margin-left: 0.875rem;
    }

    .bluedot {
        color: #0000EC;
    }

    .description {
        padding-top: 0;
    }

    .mobile-subtitle {
        display: none;
    }

    .desktop-subtitle {
        display: block;
    }

    .description h2 {
        font-size: 0.75rem;
        width: 50%;
    }

    .description span {
        display: inline;
    }

    .conoce-mas-button {
        width: 10rem;
    }

    .conoce-mas-button a {
        font-size: 0.75rem;
        line-height: 1rem;
        width: 100%;
        box-sizing: border-box;
        background-color: #00F3BB;
        padding-bottom: 0.6875rem;
        padding-top: 0.6875rem;
        padding-left: 4.1%;
        padding-right: 4.1%;
    }

    .episodios {
        clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0 100%);
        padding-bottom: 7.1875rem;
    }

    .episodios h3 {
        margin-top: 8.4375rem;
        margin-bottom: 1.3125rem;
        margin-left: 13.9%;
        font-size: 2.25rem;
    }

    .spotify-podcast-container {
        margin-left: 6.9%;
        margin-right: 6.9%;
        justify-content: space-between;
    }

    .podcast-item {
        width: 25.8125rem;
        margin-bottom: 3.2rem;
        display: inline-block;
    }

    .nosotros {
        display: flex;
    }


    .phone {
        margin-left: 13.9%;
        width: 31.8%;
    }

    .container-nosotros-text {
        width: 20.625rem;
        margin-left: 2.7625rem;
        
    }

    .container-nosotros-text h3 {
        margin-bottom: 1.0625rem;
        margin-top: 0;
        margin-left: 0;
        padding-top: 3.75rem;
    }

    .container-nosotros-text p {
        font-size: 0.75rem;
        margin-right: 0;
        margin-left: 0;
    }

    .entrevistas h3 {
        margin-top: 2.83125rem;
        margin-bottom: 1.59375rem;
        margin-left: 13.9%;
    }

    .section-title {
        font-size: 2.125rem;
    }

    .imagenes-entrevistas {
        display: flex;
        flex-wrap: wrap;

    }

    .imagenes-entrevistas img {
        width: 33.3%;
    }

    .topicos h3 {
        margin-top: 45.33px;
        margin-bottom: 2.8331rem;
        margin-left: 13.9%;
    }

    .temas-container {
        flex-direction: row;
        margin-left: 13.9%;
        padding: 0;
    }

    .tema-item {
        width: 11.5625rem;
    }

    .tema-item h4 {
        font-size: 1.0625rem;
    }

    .tema-item img {
        width: 4.625rem;
        align-self: center;
    }

    .ultimas-novedades {
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
        padding-top: 9.425rem;
        padding-bottom: 6.6875rem;
    }

    .ultimas-novedades h3 {
        font-size: 2.125rem;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .escucha-episodios-button {
        width: 15.3125rem;
        margin-left: 38%;
    }

    .escucha-episodios-button a {
        font-size: 0.8125rem;
        display: block;
        padding-bottom: 0.8125rem;
        padding-top: 0.8125rem;
        line-height: 1.375rem;
    }

    

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Large desktop */
@media screen and (min-width: 1400px) {
    nav {
        height: 5rem;
    }

    .nav-container {
        height: 5rem;
    }

    .logo {
        width: 2.25rem;
        height: 2.25rem;
    }

    .show-icon-menu {
        display: none;
    }

    .menu-container ul a {
        margin-left: 3rem;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    header {
        padding-top: 7.5rem;
        padding-bottom: 0.3125rem;
    }

    .titulos h1 {
        font-size: 4rem;
        line-height: 5.25rem;
    }

    .pale {
        margin-left: 1.0625rem;
    }

    .description h2 {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 39.25rem;
    }

    .conoce-mas-button {
        width: 14.125rem;
    }

    .conoce-mas-button a {
        font-size: 1.125rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }


    .episodios {
        clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
        padding-bottom: 200px;
    }

    .phone {
        bottom: 12.5rem;
    }

    .nosotros {
        padding-top: 3.125rem;
    }

    .container-nosotros-text {
        width: 29rem;
    }

    .episodios h3 {
        padding-top: 11.625rem;
        margin-top: 0;
        margin-bottom: 1.625rem;
        margin-left: 13.9%;
        font-size: 3rem;
        line-height: 3.875rem;
    }

    .spotify-podcast-container {
        justify-content: space-around;
    }

    .podcast-item {
        width: 36.5rem;
        height: 14.5rem;
        margin-bottom: 4.5rem;
    }

    .container-nosotros-text {
        margin-left: 3.9rem;
    }

    .container-nosotros-text h3 {
        margin-bottom: 1.5rem;
    }

    .container-nosotros-text p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .entrevistas h3 {
        margin-top: 2.83125rem;
        margin-bottom: 1.59375rem;
        margin-left: 13.9%;
    }

    .section-title {
        font-size: 3rem;
        line-height: 3.875rem;
    }

    .topicos h3 {
        margin-top: 4rem;
        margin-bottom: 4.3125rem;
        margin-left: 13.9%;
    }

    .tema-item {
        width: 16.25rem;
    }

    .tema-item h4 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .tema-item img {
        width: 6.5rem;
    }

    .ultimas-novedades {
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);
        padding-bottom: 6.6875rem;
    }

    .ultimas-novedades h3 {
        font-size: 3rem;
        line-height: 3.875rem;
    }

    .escucha-episodios-button {
        width: 24%;
    }

    .escucha-episodios-button a {
        font-size: 1.125rem;
        line-height: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
